body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  margin: 0;
  font-weight: 800;
  font-size: 78px;
  line-height: 120.5%;
  letter-spacing: -0.03em;
  text-transform: capitalize;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 120.5%;
  letter-spacing: 0.665em;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-50 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header--main {
  position: absolute;
  width: 100%;
  z-index: 11;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 15px;
  align-items: center;
}

.site__logo {
  flex: 0 0 55%;
  max-width: 55%;
  padding: 0 15px;
}
.site__logo img {
  max-width: 24%;
}

.header__menu {
  flex: 0 0 45%;
  max-width: 45%;
  padding: 0 15px;
}

.nav__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.nav__items {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
.nav__items a {
  display: flex;
  justify-content: space-evenly;
}
.nav__items p {
  font-weight: 600;
  font-size: 18px;
  line-height: 120.5%;
  text-align: center;
  color: #FFFFFF;
}
.nav__items img {
  max-width: 20px;
}

.section--cover {
  background-image: url(../images/banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 100px 0 80px 0;
}

.cover {
  align-items: center;
}

.cover__content h6 {
  color: #48CAE4;
}
.cover__content h1 span {
  color: #48CAE4;
}
.cover__content h1 {
  color: #FFFFFF;
}
.cover__content p {
  color: #CBCBCE;
}

.cover__img {
  text-align: center;
}
.cover__img img {
  max-width: 88%;
}

.btn {
  cursor: pointer;
  background: #48CAE4;
  border: 1px solid #48CAE4;
  border-radius: 50px;
  padding: 18px 24px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 16px;
  line-height: 120.5%;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: #48CAE4;
  border: 1px solid #48CAE4;
}

.btn--solid {
  background: none;
  color: #FFFFFF;
  border: none;
  padding: 0;
}

.btn--solid:hover {
  border: none;
}

.cover__button img {
  max-width: 10px;
}

.cover__button a:last-child {
  padding-left: 47px;
}

.section--above {
  padding: 60px 0 100px;
}

.above__heading {
  text-align: center;
  color: #090956;
}

.above__wrap {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}
.above__wrap img {
  max-width: 64px;
}

.above__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  text-align: center;
}

.above__main {
  border: 1px solid rgba(9, 9, 86, 0.15);
  border-radius: 20px;
  padding: 50px 61px;
}
.above__main h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120.5%;
  text-align: center;
  text-transform: capitalize;
  color: #090956;
}
.above__main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #525252;
}

.section--service {
  padding: 30px 0 80px;
}

.section--found {
  background-image: url(../images/found-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 80px 0;
}

.found-img {
  text-align: center;
}
.found-img img {
  max-width: 82%;
}

.found__button img {
  max-width: 10px;
}

.button {
  background: none;
  color: #090956;
  border: none;
  padding: 20px 0;
}

.found__content h6 {
  color: #090956;
}
.found__content h2 {
  color: #090956;
}
.found__content h2 span {
  color: #48CAE4;
}
.found__content p {
  line-height: 32px;
  color: #525252;
}

.service__heading {
  padding: 0 84px;
}
.service__heading h6 {
  text-align: center;
  letter-spacing: 0.665em;
  color: #090956;
}
.service__heading h2 {
  text-align: center;
  color: #090956;
}
.service__heading h2 span {
  color: #48CAE4;
}

.service__content {
  text-align: center;
}

.service__main {
  box-shadow: 0px 26px 100px rgba(72, 202, 228, 0.13);
  border-radius: 20px;
  padding: 81px 78px;
  min-height: 100%;
}
.service__main img {
  max-width: 44px;
}
.service__main h4 {
  font-weight: 700;
  font-size: 26px;
  line-height: 142.5%;
  text-align: center;
  text-transform: capitalize;
  color: #090956;
}

.service__wrap {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
  margin-top: 100px;
}

.btn--lg {
  background: #090956;
  color: #FFFFFF;
  border: 1px solid #090956;
  margin-left: 26px;
}

.btn--lg:hover {
  border: 1px solid #090956;
  background: transparent;
  color: #090956;
}

.service__button {
  padding-top: 80px;
  text-align: center;
}

.section--facilitate {
  background-image: url(../images/facility-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 100px 0;
}

.facilitate__img {
  text-align: center;
}
.facilitate__img img {
  max-width: 82%;
  padding-top: 29px;
}

.facilitate__content h6 {
  color: #FFFFFF;
}
.facilitate__content h2 {
  text-transform: capitalize;
  color: #FFFFFF;
}
.facilitate__content h2 span {
  color: #48CAE4;
}
.facilitate__content p {
  color: #CBCBCE;
}

.section--health {
  background-image: url(../images/health-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 100px 0;
}

.health__content h6 {
  color: #FFFFFF;
}
.health__content h2 {
  color: #FFFFFF;
}
.health__content p {
  color: #FFFFFF;
  line-height: 28px;
}

.health__img img {
  max-width: 85%;
}

.section--testimonial {
  padding: 70px 0;
}

.testimonial__heading {
  text-align: center;
  padding-bottom: 24px;
}
.testimonial__heading h6 {
  color: #090956;
}
.testimonial__heading h2 {
  color: #090956;
}
.testimonial__heading h2 span {
  color: #48CAE4;
}

.testimonial__wrap {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
  text-align: center;
}

.testimonial__main {
  border: 1px solid rgba(9, 9, 86, 0.15);
  border-radius: 17.315px;
  padding: 24px;
  margin-top: 56px;
}
.testimonial__main img {
  max-width: 38px;
}
.testimonial__main h4 {
  font-weight: 600;
  font-size: 15px;
  line-height: 34px;
  color: #090956;
}

.testimonial__customer {
  align-items: center;
  justify-content: center;
}

.testimonial__text {
  padding-left: 20px;
}
.testimonial__text h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #090956;
  margin: 0;
}

.testimonial__img img {
  max-width: 50px;
}

.section--team {
  background-image: url(../images/team-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 68px 0 58px 0;
}

.team__wrap {
  justify-content: center;
}

.team__heading {
  padding-bottom: 88px;
  text-align: center;
}
.team__heading h6 {
  color: #090956;
}
.team__heading h2 {
  color: #090956;
}
.team__heading h2 span {
  color: #48CAE4;
}

.team__img {
  flex: 0 0 28.33%;
  max-width: 28.33%;
  padding: 0 15px;
  text-align: center;
}
.team__img img {
  max-width: 92%;
}
.team__img h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120.5%;
  color: #090956;
}

.team__button {
  text-align: center;
  padding-top: 68px;
}

.section--care {
  padding: 80px 0;
  background-image: url(../images/care-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 68px 0 58px 0;
}

.care {
  text-align: center;
  padding: 0px 290px;
}
.care h6 {
  color: #48CAE4;
}
.care p {
  color: #CBCBCE;
}
.care h2 {
  color: #FFFFFF;
}
.care h2 span {
  color: #48CAE4;
}

.care__button {
  text-align: center;
  padding-top: 33px;
}

.footer--footer {
  padding: 30px 0;
}

.footer {
  align-items: center;
}

.footer__logo {
  flex: 0 0 30%;
  max-width: 30%;
  padding: 0 15px;
  text-align: center;
}
.footer__logo img {
  max-width: 60%;
}

.footer__wrapper {
  flex: 0 0 70%;
  max-width: 70%;
  padding: 0 15px;
}

.footer__insta {
  padding: 0 15px;
}
.footer__insta img {
  max-width: 38px;
}

.footer__fb {
  padding: 0 15px;
}
.footer__fb img {
  max-width: 38px;
}

.footer__icon {
  justify-content: end;
  padding-right: 98px;
}

@media screen and (max-width: 1024px) {
  p {
    font-size: 13px;
  }
  h1, h2 {
    font-size: 58px;
  }
  .cover__button a:last-child {
    padding-left: 16px;
  }
  .btn {
    padding: 14px 24px;
    font-size: 14px;
  }
  h6 {
    font-size: 13px;
  }
  .cover__img img {
    max-width: 72%;
  }
  .btn--solid {
    padding: 10px;
  }
  .nav__items p {
    font-size: 14px;
  }
  .above__wrap img {
    max-width: 50px;
  }
  .above__main {
    padding: 50px 37px;
  }
  .above__main h4 {
    font-size: 26px;
  }
  .section--found {
    padding: 50px 0 80px 0;
  }
  .service__main {
    padding: 30px 46px;
  }
  .service__wrap {
    margin-top: 30px;
  }
  .service__main h4 {
    font-size: 23px;
  }
  .section--health {
    background-size: cover;
  }
  .testimonial__main h4 {
    font-size: 13px;
    line-height: 28px;
  }
  .team__heading {
    padding-bottom: 64px;
  }
  .section--team {
    padding: 33px 0 70px 0;
  }
  .team__button {
    padding-top: 35px;
  }
  .care {
    padding: 0px 268px;
  }
  .care p {
    line-height: 26px;
  }
  .section--care {
    background-size: cover;
    padding: 68px 0 79px 0;
  }
}
@media screen and (max-width: 769px) {
  .nav__items p {
    font-size: 12px;
  }
  h1, h2 {
    font-size: 46px;
  }
  .cover__content p {
    line-height: 27px;
  }
  .btn {
    padding: 8px 12px;
    font-size: 11px;
  }
  .section--cover {
    background-size: cover;
  }
  .section--above {
    padding: 0px 0 67px;
  }
  .above__main h4 {
    font-size: 22px;
  }
  .above__main {
    padding: 24px 27px;
  }
  .found__content h6 {
    margin: 0;
    padding-bottom: 8px;
  }
  .found__content p {
    line-height: 22px;
  }
  .section--found {
    padding: 50px 0 40px 0;
    background-size: cover;
  }
  .service__wrap {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .service__main h4 {
    font-size: 20px;
  }
  .facilitate__content h6 {
    margin: 0;
    padding-bottom: 6px;
  }
  .facilitate__content p {
    line-height: 25px;
  }
  .facilitate__img img {
    padding-top: 0px;
  }
  .section--facilitate {
    padding: 61px 0 50px 0;
  }
  .health__content h6 {
    margin: 0;
    padding-bottom: 6px;
  }
  .health__content p {
    line-height: 22px;
  }
  .section--health {
    padding: 76px 0 100px 0;
  }
  .section--testimonial {
    padding: 0px 0 86px;
  }
  .testimonial__wrap {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .testimonial__main {
    margin-top: 30px;
  }
  .team__button {
    padding-top: 22px;
  }
  .section--team {
    background-size: cover;
  }
  .care {
    padding: 0px 196px;
  }
  .section--care {
    background-size: cover;
    padding: 68px 0 54px 0;
  }
}
@media screen and (max-width: 480px) {
  h1, h2 {
    font-size: 36px;
  }
  h6 {
    font-size: 11px;
  }
  .nav__links {
    padding-top: 10px;
  }
  .section--cover {
    background-size: cover;
  }
  .site__logo {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
  .nav__items {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .site__logo img {
    max-width: 40%;
  }
  .header__menu {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .col-50 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 38px;
  }
  .section--cover {
    padding: 100px 0 20px 0;
    background-size: cover;
  }
  .section--found {
    background-size: cover;
    padding: 0 0 40px 0;
  }
  .section--facilitate {
    background-size: cover;
    padding: 0 0 50px 0;
  }
  .section--health {
    background-size: cover;
  }
  .section--team {
    background-size: cover;
  }
  .section--care {
    background-size: cover;
  }
  .above__wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .above__main {
    margin: 10px 0;
  }
  .service__main {
    padding: 10px 0px;
  }
  .service__heading {
    padding: 0 0px;
  }
  .service__wrap {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .service__main h4 {
    font-size: 12px;
  }
  .service__button {
    padding-top: 36px;
  }
  .health__img {
    text-align: center;
  }
  .section--health {
    padding: 0px 0 60px 0;
  }
  .testimonial__wrap {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .testimonial__main {
    margin-top: 15px;
  }
  .testimonial__heading h6 {
    margin-bottom: 10px;
  }
  .section--testimonial {
    padding: 0px 0 50px;
  }
  .team__heading {
    padding-bottom: 46px;
  }
  .team__heading h6 {
    margin-bottom: 10px;
  }
  .team__img {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .section--team {
    padding: 10px 0 46px 0;
  }
  .team__img h5 {
    margin-top: 6px;
    font-size: 14px;
  }
  .care {
    padding: 0px 0px;
  }
  .section--care {
    padding: 29px 0 32px 0;
  }
  .care__button {
    padding-top: 8px;
  }
  .footer__wrapper {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer__logo {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: start;
  }
  .footer__icon {
    padding-right: 0px;
  }
  .footer__insta {
    padding: 0 8px;
  }
  .footer__fb {
    padding: 0 8px;
  }
  .footer__insta img {
    max-width: 30px;
  }
  .footer__fb img {
    max-width: 30px;
  }
  .footer--footer {
    padding: 16px 0;
  }
  .footer__logo img {
    max-width: 74%;
  }
}
@media screen and (max-width: 320px) {
  .nav__items p {
    font-size: 11px;
  }
  .btn {
    padding: 8px 12px;
    font-size: 8px;
    margin-bottom: 20px;
  }
  .footer__logo img {
    max-width: 90%;
  }
}/*# sourceMappingURL=styles.css.map */